@page
@model ContosoPizza.Pages.BarcodesModel
@{
    ViewData["Title"] = "Display Barcode";
    
}

<div class="text-center">
    <h1 class="display-4">Testmittel-Generator</h1>
    <h2 class="display-4">Create QR-Code</h2>
    
    <form asp-page-handler="QR" method="post">
        <button class="">Click to display chosen QR</button>
        <input type="text" name="qrText"/>
    </form>
    
    <h2 class="display-4">Create Bcarcode</h2>
    <form asp-page-handler="QR" method="post">
        <button class="">Click to post</button>
        <input type="text" name="qrText"/>
    </form>

    <img class="qrCode" src= "/>
</div>